html{
	height: 100%;
}

body{

background: linear-gradient(#242222, #635d5d, transparent), url("https://images.unsplash.com/photo-1509718443690-d8e2fb3474b7?ixlib=rb-0.3.5&s=00348587d342e2ee61133a326e4a7c20&auto=format&fit=crop&w=750&q=80");
background-size: cover; 
/*box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.8); */
background-position: center;
font-family: Lato;
}

.navbar-nav>li>a:hover{
	color:#337ab7;
}

.navbar-nav>li>a{
	color:white;
	background-color:transparent !important;
	text-decoration: none;
}

.navbar-brand{
	color: white;
}

.navbar-toggle{
	background-color: grey;
}
.navbar-toggle .icon-bar{
	background-color: black;
}

a{
	color:white;
}

#content{
	text-align: center;
	padding-top: 10%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1)

}

h1{
	font-weight: 700; 
	font-size: 3em;
}

h3{
	font-weight: 400;
	font-size: 1em;
}

.navbar-default{
	background-color: #242222;
	border-color: #242222;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
